<p>
  <input
    #query
    type="text"
    class="form-control"
    placeholder="Search..."
    (keyup)="filter(query.value)"
  />
</p>
<table class="table">
  <thead>
    <tr>
      <th>Order Date</th>
      <th>Total Price</th>
      <th>View Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let o of filteredOrders">
      <td>
        {{ o.getReadableDate() }}
      </td>
      <td>{{ o.totalPrice | currency: 'BDT ' }}</td>
      <td>
        <button
          mat-button
          color="primary"
          [routerLink]="['/my-orders/' + o.dateCreated]"
        >
          View
        </button>
      </td>
    </tr>
  </tbody>
</table>
