<p>
  <button routerLink="/admin/products/new" mat-button color="primary">
    New Product
  </button>
</p>
<p>
  <input
    #query
    type="text"
    class="form-control"
    placeholder="Search..."
    (keyup)="filter(query.value)"
  />
</p>
From - {{ view.first }} to - {{ view.last }}
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of filteredProducts.slice(view.first - 1, view.last)">
      <td>
        <figure class="figure">
          <img
            [src]="p.imageUrl"
            class="figure-img img-fluid circle thumbnail"
            alt=""
          />
          <figcaption class="figure-caption">
            {{ p.title }}
          </figcaption>
        </figure>
      </td>
      <td>{{ p.price | currency: 'BDT ' }}</td>
      <td>
        <button
          mat-button
          color="primary"
          [routerLink]="['/admin/products/' + p.id]"
        >
          Edit
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div aria-label="Page navigation">
  <ul class="pagination pagination-sm justify-content-center float-right">
    <li class="page-item ">
      <button class="page-link" (click)="pagination(currentIndex - 1)">
        Previous
      </button>
    </li>
    <li
      *ngFor="let index of range()"
      class="page-item"
      [ngClass]="{ disabled: currentIndex === index }"
    >
      <button class="page-link" (click)="pagination(index)">
        {{ index }}
      </button>
    </li>
    <li>
      <button class="page-link" (click)="pagination(currentIndex + 1)">
        Next
      </button>
    </li>
  </ul>
</div>
