<div class="row">
  <div class="col-md">
    <form #f="ngForm" (ngSubmit)="save(f)">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          [(ngModel)]="product.title"
          name="title"
          type="text"
          class="form-control"
          id="title"
          placeholder="Enter Title"
          required
          #title="ngModel"
        />
        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
          title is required
        </div>
        <small id="TitleHelp" class="form-text text-muted"
          >Name of your product</small
        >
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
          <input
            [(ngModel)]="product.price"
            name="price"
            type="number"
            class="form-control"
            id="price"
            placeholder="Enter Price"
            required
            #price="ngModel"
            [min]="0"
          />
        </div>
        <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
          <div *ngIf="price.errors?.required">price is required</div>
          <div *ngIf="price.errors?.min">
            price should be zero or more than zero
          </div>
        </div>

        <small id="priceHelp" class="form-text text-muted"
          >Price of your product</small
        >
      </div>
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <div class="input-group-prepend">
          <input
            [(ngModel)]="product.quantity"
            name="quantity"
            type="number"
            class="form-control"
            id="quantity"
            placeholder="Enter Quantity"
            required
            #quantity="ngModel"
            [min]="0"
          />
        </div>
        <div
          class="alert alert-danger"
          *ngIf="quantity.touched && quantity.invalid"
        >
          <div *ngIf="quantity.errors?.required">quantity is required</div>
          <div *ngIf="quantity.errors?.min">
            quantity should be zero or more than zero
          </div>
        </div>

        <small id="priceHelp" class="form-text text-muted"
          >Quantity of your product</small
        >
      </div>
      <div class="form-group">
        <label for="price">Discount % </label>
        <div class="input-group-prepend">
          <span class="input-group-text">%</span>
          <input
            [(ngModel)]="product.discount"
            name="discount"
            type="number"
            class="form-control"
            id="discount"
            placeholder="Enter Product Discount"
            required
            #discount="ngModel"
            [min]="0"
            [max]="100"
          />
        </div>
        <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
          <div *ngIf="price.errors?.required">price is required</div>
          <div *ngIf="price.errors?.min || price.errors?.max">
            Discount should be zero more than zero and less than 100
          </div>
        </div>

        <small id="priceHelp" class="form-text text-muted"
          >Discount of your product</small
        >
      </div>
      <div class="form-group">
        <label for="category">category</label>
        <select
          [(ngModel)]="product.category"
          name="category"
          class="form-control"
          id="category"
          required
          #category="ngModel"
        >
          <option></option>
          <option *ngFor="let c of categories$ | async" [value]="c.id">
            {{ c.name }}
          </option>
        </select>
        <div
          class="alert alert-danger"
          *ngIf="category.touched && category.invalid"
        >
          category is required
        </div>
        <br />
        <button
          type="button"
          class="btn btn-light btn-sm float-right"
          (click)="addCategory = !addCategory"
          (click)="removeCategory = false"
        >
          + Add Category
        </button>
        <button
          type="button"
          class="btn btn-light btn-sm float-right"
          (click)="removeCategory = !removeCategory"
          (click)="addCategory = false"
        >
          + Remove Category
        </button>
      </div>
      <div class="form-group">
        <label for="imageUrl">Image Url</label>
        <input
          [(ngModel)]="product.imageUrl"
          name="imageUrl"
          type="text"
          class="form-control"
          id="imageUrl"
          placeholder="Enter Image Url"
          required
          #imageUrl="ngModel"
          url
        />

        <small id="imageUrlHelp" class="form-text text-muted"
          >imageUrl of your product</small
        >
        <div
          class="alert alert-danger"
          *ngIf="imageUrl.touched && imageUrl.invalid"
        >
          <div *ngIf="imageUrl.errors?.required">imageUrl is required</div>
          <div *ngIf="imageUrl.errors?.url">this is not a valid url</div>
        </div>
      </div>
      <button type="submit" mat-raised-button color="primary">
        Save</button
      >&nbsp;&nbsp;
      <button type="button" (click)="delete()" class="btn btn-danger">
        Delete
      </button>
    </form>
  </div>

  <div class="col-md">
    <div *ngIf="addCategory">
      <label for="addCategory">Add new Category</label>
      <input
        name="addCategory"
        id="addCategory"
        #query
        type="text"
        class="form-control"
        placeholder="Enter category name here"
      />
      <br />
      <button
        type="button"
        class="btn btn-info btn-sm float-right"
        (click)="addNewCategory(query.value)"
      >
        Add
      </button>
    </div>
    <div *ngIf="removeCategory">
      <label for="removeCategory">Remove a Category</label>
      <select
        name="removeCategory"
        class="form-control"
        id="removeCategory"
        required
        #removeQuery
      >
        <option *ngFor="let c of categories$ | async" [value]="c.id">
          {{ c.name }}
        </option>
      </select>
      <br />
      <button
        type="button"
        class="btn btn-danger btn-sm float-right"
        (click)="removeACategory(removeQuery.value)"
      >
        Remove
      </button>
    </div>
    <br />
    <div
      class="card"
      style="width: 18rem;"
      *ngIf="product.title || product.price || !imageUrl.invalid"
    >
      <img
        [src]="product.imageUrl"
        class="card-img-top"
        *ngIf="product.imageUrl"
      />
      <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">
          {{ product.price | currency: 'BDT ' }}
        </p>
      </div>
    </div>
  </div>
</div>
