<div class="container">
  <h1 mat-dialog-title class="center">login</h1>
  <hr />
  <div mat-dialog-content class="center">
    <button mat-raised-button (click)="loginWithGoogle()">
      <i class="fab fa-google"></i>
      &nbsp;&nbsp;Login with Google
    </button>
  </div>
  <br />
  <hr />
  <br />
  <div mat-dialog-content class="center">
    <button mat-raised-button (click)="loginWithFacebook()">
      <i class="fab fa-facebook"></i>
      &nbsp;&nbsp;Login with Facebook
    </button>
  </div>
  <br />
  <hr />
</div>
